---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

// ------------------------------
// OVERRIDE DEFAULT COLORS
// ------------------------------

// Make everything black-and-white
$color-accent: #000 !default;       // black
$color-primary: #000 !default;      // black
$color-link: #000 !default;         // black
$color-link-hover: #000 !default;   // black
$color-background: #fff !default;   // white
$color-heading: #000 !default;      // black
$color-text: #000 !default;         // black
$color-border: #000 !default;       // black

// ------------------------------
// IMPORTS
// ------------------------------

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor
